
<router-outlet></router-outlet>
<lib-custom-radio-button [boxname]="'www'" [boxlabel]="'one'" [customBgColor]="'red'"></lib-custom-radio-button>
<lib-custom-radio-button [boxname]="'www'" [boxlabel]="'two'" [boxchecked]="false" [customBorderColor]="'green'"></lib-custom-radio-button>
<lib-custom-radio-button [boxname]="'www'" [boxlabel]="'three'" [boxchecked]="false" [boxdisabled]="true"></lib-custom-radio-button>


<dynamic-custom-checkbox 
[customBgColor]="'#ddd'" 
[customArrowColor]="'red'" 
[boxType]="'circle'" 
[customBorderColor]="'blue'"  
[customSize]="'Xlarge'"
[labelContent]="'siddharth'"
(customClick)="customClick($event)"
[checkbox]="true"
[boxdisabled]="false"></dynamic-custom-checkbox>