
<router-outlet></router-outlet>
<custom-radio-button 
[boxType]="'square'"
[customInnerBorderColor]="'#fff'" 
[boxlabel]="'one'" 
[customBgColor]="'red'" 
[customSelectedBgColor]="'black'"
[boxchecked]="false" 
[boxdisabled]="false"
[customSize]="'medium'"
[customBorderColor]="'green'"></custom-radio-button>
<custom-radio-button [customSize]="'large'" [boxlabel]="'www'" [boxlabel]="'one'" [customBgColor]="'blue'" [customSelectedBgColor]="'black'"></custom-radio-button>
<custom-radio-button [customSize]="'medium'" [boxlabel]="'www'" [boxlabel]="'two'" [boxchecked]="false" [customBgColor]="'pink'" [customBorderColor]="'green'"></custom-radio-button>
<custom-radio-button [boxType]="'square'" [customSize]="'small'" [boxlabel]="'www'" [boxlabel]="'three'" [customBgColor]="'green'" [boxchecked]="false" [boxdisabled]="false"></custom-radio-button>


<dynamic-custom-checkbox 
[customBgColor]="'#ddd'" 
[customArrowColor]="'red'" 
[boxType]="'circle'" 
[customBorderColor]="'blue'"  
[customSize]="'Xlarge'"
[labelContent]="'siddharth'"
(customClick)="customClick($event)"
[checkbox]="true"
[boxdisabled]="false"></dynamic-custom-checkbox>